// 导航条
$t_c: #ff5000;

nav {
  >div {
    >div:nth-of-type(2) {
      >ul {
        >li {
          margin-top: 0.12rem;
          margin-bottom: 0.16rem;
          height: 0.42rem;
          position: relative;
          padding: 0;

          // transition: all 1s;
          &:hover {
            >a:nth-of-type(1) {
              top: 8%;
              opacity: 0;
            }

            >a:nth-of-type(2) {
              top: 38%;
              opacity: 1;
            }
          }

          >a {
            color: #666666;
            font-size: 0.14rem;
            transition-duration: 1s;
            padding: 0;

            &:hover {
              text-decoration: none;
            }

            @media (max-width: 768px) {
              font-size: 0.12rem;
              line-height: 0.14rem;
            }
          }

          >a:nth-of-type(1) {
            position: absolute;
            top: 38%;
            left: 0;
          }

          >a:nth-of-type(2) {
            position: absolute;
            top: 98%;
            left: 0;
            opacity: 0;
            color: $t_c;
          }
        }
      }
    }

    >div:nth-of-type(1) {
      position: relative;

      >a {
        @media (min-width: 768px) {
          position: absolute;
          left: 33%;
        }

        @media (max-width: 768px) {
          position: absolute;
          top: 10%;
        }

        color: #666666;
        border: 3px solid $t_c;
        text-align: center;
        width: 3.2rem;
        line-height: 0.44rem;
        font-size: 0.32rem;
        padding: 0.03rem;
        margin-top: 0.08rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// 轮播
.lunbo_img {
  >div {
    >div {
      margin-bottom: 0.5rem;

      >h2 {
        line-height: 0.38rem;
        font-size: 0.32rem;
        letter-spacing: 0.05rem;
        // color: white;
      }

      >p {
        letter-spacing: 0.05rem;
        line-height: 0.2rem;
        font-size: 0.14rem;
        margin: 0.28rem 0;
      }

      >a {
        display: inline-block;
        width: 1.36rem;
        line-height: 0.37rem;
        // padding: 0.08rem 0.28rem;
        background-color: $t_c;
        color: white;
        font-size: 0.14rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// about us
.about_us {
  margin-top: 0.8rem;

  >div:nth-of-type(1) {
    >h3 {
      line-height: 0.44rem;
      width: 3.5rem;
      font-size: 0.36rem;
      letter-spacing: 0.03rem;
    }

    >h4 {
      width: 5.4rem;
      line-height: 0.43rem;
      font-size: 0.24rem;
      letter-spacing: 0.02rem;
    }

    >p:nth-of-type(1) {
      color: $t_c;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      margin-bottom: 0.3rem;
      font-size: 0.16rem;
      line-height: 0.2rem;
    }

    >p:nth-of-type(2) {
      color: $t_c;
      letter-spacing: 0.04rem;
      margin-bottom: 0.14rem;
      margin-top: 0.14rem;
      line-height: 0.26rem;
      text-align: justify;
    }

    >p:nth-of-type(3) {
      color: #999999;
      letter-spacing: 0.01rem;
      line-height: 0.28rem;
      text-align: justify;
    }
  }

  >div:nth-of-type(2) {
    position: relative;
    padding-top: 0.96rem;

    >img:nth-of-type(2) {
      position: absolute;
      top: 0.2rem;
      right: -0.35rem;
    }
  }
}

// services
.services {
  margin: 0.8rem 0;
  position: relative;

  >div {
    width: 100%;
    position: absolute;

    @media (min-width: 768px) {
      top: 0.8rem;
    }

    @media (max-width: 768px) {
      top: 0.1rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    >h3 {
      line-height: 0.44rem;
      width: 3.5rem;
      font-size: 0.36rem;
      letter-spacing: 0.03rem;
      text-align: center;
    }

    >p {
      color: $t_c;
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      margin-bottom: 0.3rem;
      font-size: 0.16rem;
      line-height: 0.2rem;
    }

    >div {
      width: 100%;

      >div {
        display: flex;
        flex-direction: column;
        align-items: center;

        >div {
          width: 1.02rem;
          height: 1.02rem;
          border-radius: 50%;
          border: 2px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &:hover {
            border: none;

            >div:nth-of-type(1) {
              border: 0.03rem solid #ffffff;
              transform: scale(1.05);
            }

            >div:nth-of-type(2) {
              border: 0.03rem solid rgba(250, 250, 250, 0.5);
            }
          }

          >div:nth-of-type(1) {
            transition-duration: 0.5s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &:hover {
              border: 4px solid #ffffff;
              transform: scale(1.1);
            }
          }

          >div:nth-of-type(2) {
            width: 0.96rem;
            height: 0.96rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: 0.5s;
            transform: none;

            >img {
              width: 0.64rem;
              height: 0.64rem;
            }
          }
        }

        >h4 {
          margin: 0.36rem 0 0.08rem 0;
          color: #2098d1;
          font-size: 0.22rem;
          letter-spacing: 0.02rem;
        }

        >p {
          font-size: 0.14rem;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
}

// LATEST GALLERY
.gallery {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  >h3 {
    line-height: 0.44rem;
    width: 3.5rem;
    font-size: 0.36rem;
    letter-spacing: 0.03rem;
    text-align: center;
  }

  >p {
    color: $t_c;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    margin-bottom: 0.3rem;
    font-size: 0.16rem;
    line-height: 0.2rem;
  }

  >div {
    width: 100%;

    >div {
      margin: 0.12rem 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      // &:hover{
      //   >div{
      //     opacity: 1;
      //   }
      //    h4{
      //      transform: translateY(-0.95rem);
      //    }
      // }
      >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: hsla(0, 0%, 11%, 0.6);
        border-left: 15px solid #ffffff;
        border-right: 15px solid #ffffff;
        z-index: 2;

        >h4 {
          background: rgba(236, 81, 9, 0.72);
          color: white;
          font-size: 0.22rem;
          position: absolute;
          top: 80%;
          padding: 0.1rem 0.8rem;
          left: 50%;
          margin-left: -1.5rem;
          transition-duration: 0.2s;
        }
      }
    }
  }
}

// 模态框
.modal-dialog {
  position: relative;
  margin: 1rem 3.315rem !important;

  >div:nth-of-type(1) {
    position: absolute;
    left: -3.4rem;
    top: -1rem;
    width: 100%;
    background-color: hsla(0, 0%, 11%, 0.6);
    box-sizing: content-box;
    padding: 0.1rem 3.4rem;

    >p {
      color: white;
    }

    >p:nth-of-type(1) {
      font-size: 0.16rem;
    }

    >p:nth-of-type(2) {
      font-size: 0.12rem;
      margin-top: 0.06rem;
    }
  }

  >div:nth-of-type(3) {
    width: 100%;
    position: absolute;
    bottom: -1rem;
  }

  >div:nth-of-type(4) {
    position: absolute;
    bottom: -1.1rem;
    left: -3.4rem;
    z-index: -1;
    width: 13rem;
    height: 0.98rem;
    padding: 0.12rem;
    background-color: #333333;
    display: flex;
    opacity: 0;

    >img {
      height: 0.74rem;
      margin-left: 0.05rem;
      transition-duration: 0.5s;
      cursor: pointer;
    }

    >button {
      position: absolute;
      top: 2px;
      right: 20px;
      background-color: #333333;
      color: white;
      line-height: 0.2rem;
      width: 0.2rem;
      text-align: center;
      border: none;
      font-size: 0.16ren;
    }
  }
}

// 轮播
.lunbo {
  overflow: hidden;
  position: relative;
  height: 4.396rem;
  padding-top: 0.2rem;

  >img {
    position: absolute;
    height: 100%;
    padding: 0;
    top: 0;
  }

  >img:nth-of-type(1) {
    left: 0;
  }

  >img:nth-of-type(2) {
    left: 3.373rem;
  }

  >img:nth-of-type(3) {
    left: 6.746rem;
  }

  >img:nth-of-type(4) {
    left: 10.119rem;
  }

  >button {
    position: absolute;
    top: 2.2rem;
    // left: 0.2rem;
    background-color: #999999;
    color: white;
    line-height: 0.4rem;
    width: 0.4rem;
    text-align: center;
    border: none;
    font-size: 0.3rem;
    z-index: 2;
  }

  >button:nth-of-type(2) {
    right: 0;
  }
}

.lunbo_l {
  left: 13.492rem;
}

.lunbo_r {
  left: -3.373rem;
}

.lunbo_title {
  margin-bottom: 0.6rem;

  >h3 {
    font-size: 0.35rem;
    color: #212121;
    letter-spacing: 3px;
    text-align: center;
  }

  >p {
    color: #ff5000;
    letter-spacing: 8px;
    text-align: center;
  }
}

// 表单
.biaodan {
  margin-top: 1rem;
  margin-bottom: 0.6rem;

  >h3 {
    font-size: 0.35rem;
    color: #212121;
    letter-spacing: 3px;
    text-align: center;
  }

  >p {
    color: #ff5000;
    letter-spacing: 8px;
    text-align: center;
  }

  >form {
    >div {
      height: 3.55rem;
    }

    >div:nth-of-type(1) {
      > {
        div {
          position: relative;
          margin-top: 0.4rem;
          height: 0.56rem;

          >input {
            height: 100%;
            border: 5px solid #f5f5f5;
            outline: none;
            font-size: 0.16rem;
          }

          >span {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0.182rem;
            font-size: 0.2rem;
            text-align: left;
            background: #f5f5f5;
            border-left: 15px solid #ffffff;
            border-right: 15px solid #ffffff;
          }
        }
      }
    }

    >div:nth-of-type(2) {
      margin-top: 0.2rem;

      >textarea {
        height: 2.4rem;
        padding: 0.14rem;
        background: #f5f5f5;
        font-size: 0.16rem;
        outline: none;
      }

      >input {
        height: 0.5rem;
        margin-top: 0.32rem;
        font-size: 0.2rem;
        background-color: #333333;
        color: white;
        border: none;
        cursor: pointer;
        transition-duration: 1s;

        &:hover {
          background-color: $t_c;
        }
      }
    }
  }
}

// footer
footer {
  height: 3.8rem;
  background: #000;
  padding: 0.8rem 0;
  position: relative;

  >div {
    height: 2.2 rem;
    display: flex;
    justify-content: center;

    >div {
      width: 3.54rem;
      height: 1.15rem;
      display: flex;
      align-items: center;
      background-color: #2e2e2e;
      margin: 0 0.1rem;

      &:hover {
        >div:nth-of-type(1) {
          background: #fff;
        }

        >div:nth-of-type(2)>h4 {
          color: #fa3d03;
        }
      }

      >div:nth-of-type(1) {
        width: 0.55rem;
        height: 0.55rem;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        background: #fa3d03;
        margin-left: 0.2rem;
        transition-duration: 1s;
      }

      >div:nth-of-type(2) {
        margin-left: 0.2rem;
        width: 2.5rem;
        height: 0.52rem;

        >h4 {
          transition-duration: 1s;
          font-size: 0.16rem;
          color: #fff;
          letter-spacing: 0.03rem;
          margin-bottom: 0.08rem;
        }

        >p {
          color: #999;
          line-height: 0.21rem;
        }
      }
    }
  }

  >p {
    margin-top: 0.7rem;
    text-align: center;
    color: #fff;
    line-height: 0.25rem;
    font-size: 0.16rem;
    >a {
      color: #fa3d03;
      text-decoration: underline
    }
  }
}